:root {
    --purple: #6037ba;
    --pink: rgb(212, 156, 218);
  }

.time {
    font-size: 20px;
    color:var(--purple);
}

.header {
    background-color:var(--pink);
}

.alert {
    font-size: 20px;
    color:var(--purple);
    font-weight: bold;
}