:root {
    --purple: #6037ba;
    --pink: rgb(212, 156, 218);
  }

.time {
    font-size: 20px;
    color:var(--purple);
}

.header {
    background-color:var(--pink);
}

.alert {
    font-size: 20px;
    color:var(--purple);
    font-weight: bold;
}

button {
    height: 35px;
    width: 75px;
    color: var(--purple);
    font-weight: bold; 
    background-color: var(--pink);
    border-radius: 25px;
    border: none;
}

li {
    width: 200px;
    background-color: var(--pink);
    color: var(--purple);
    font-weight: bold;
    list-style: none;
    margin: 12px;
    padding: 2px;
    border-radius: 5px;
}
/* if time, you can center the text later */
